body {
    margin: 0;
    background-color: white;
  }
  
  .navbar {
    border-radius: 5px 5px;
    overflow: hidden;
    background-color: #02023d;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Распределение элементов */
    padding: 0 20px; /* Отступы по краям */
  }
  
  .navbar a {
    border-radius: 50%;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:nth-child(2) {
    background-color: #1800ec; /* Цвет фона */
    color: black; /* Цвет текста */
    width: 25px;
    height: 25px; 
    border-radius: 50%;
    display: flex; /* Для центрирования контента внутри */
    align-items: center; /* Центрировать по вертикали */
    justify-content: center; /* Центрировать по горизонтали */
    padding-bottom: 10px;
  }

  .navbar a.center {
    margin: 0 auto; /* Центрирование центрального элемента */
  }
  
  .navbar a:hover {
    background: #040475;
    color: black;
  }
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
    height: 1500px;
  }
  