@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');


body {
    margin: 0;
    background-color: #02022e;
  }
  
  header {
    position: fixed; /* Фиксируем хедер в верхней части */
    top: 0;
    left: 0;
    width: 100%; /* Ширина на всю страницу */
    height: 70px; /* Высота хедера */
    background-color: #0044cc; /* Цвет фона */
    color: white; /* Цвет текста */
    display: flex; /* Используем flex для центрирования текста */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Легкая тень для эффекта */
    z-index: 1000; /* Чтобы хедер был всегда над контентом */
  }
  header h1{
    font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
  }

  .navbar {
    border-top: 2px solid #1c1c8f;
    border-radius: 5px 5px;
    overflow: hidden;
    background-color: #02023d;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Распределение элементов */
  }
  
  .navbar a {
    border-radius: 50%;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:nth-child(1) {
    margin-left: 20px;
  }
  .navbar a:nth-child(2) {
    border: 3px solid #080896;
    background-color: #030349; /* Цвет фона */
    color: black; /* Цвет текста */
    width: 25px;
    height: 25px; 
    border-radius: 50%;
    display: flex; /* Для центрирования контента внутри */
    align-items: center; /* Центрировать по вертикали */
    justify-content: center; /* Центрировать по горизонтали */
  }
  .navbar a:nth-child(3) {
   margin-right: 20px;
  }

  .navbar a.center {
    margin: 0 auto; /* Центрирование центрального элемента */
  }
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
    height: 1500px;
  }